* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    color: darkslateblue;
    background-color: rgb(178, 195, 241);
}

.container   {
    transition: transform 0.5s linear;
    transform-origin: top left;
    width: 100vw;
    min-height: 100vh;
    padding-left: 20%;
    padding-right: 20%;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.nav-content {
    position: fixed;
    top: -120px;
    left: -100px;

}

.nav-circle {
    background-color: royalblue;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: transform 0.5s linear;
    position: relative;
}

.nav-circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    font-size: 25px;
    color: black;
    border: 0;

    
}

.nav-circle button:focus {
     outline:  none;
}

.nav-circle button.open    {
    left: 60%;
}

.nav-circle button.close    {
    top: 60%;
    transform:rotate(90deg);
    transform-origin: top left;
}

img {
   max-width: 100%;
}